/* Styling file */
* {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background-color: #141238;
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: #c1b9f80f;
  position: sticky;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  border-bottom: 1px solid #ffffff39;
}

header > menu {
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 70%;
}

header > menu > div > a{
  text-decoration: none;
  color: #ffffff;
}

/* header > menu > div > a:focus{
  text-decoration: underline;
  color: #ffffff;
} */

.active {
  text-decoration: underline;
}

#counter-wrapper {
  display: none; /* I am hiding a useless counter */
  width: 50%;
  border: 1px solid #285379;
  background-color: #141238;
  box-shadow: 1px 1px 10px 2px #ffffff7c;
  margin: 0 auto;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 600px) {
  #counter-wrapper {
    width: 90%;
  }
}


h1 {
  text-align: center;
  color: #fff;
  background-color: #121212;
}

h2 {
  text-align: center;
  color: #fff;
}

#inner-div {
  background-color: #141238;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-div > h2 {
  color: #c4c4c6;
  background-color: #141238;
  width: 30%;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  border: 1px solid #c4c4c643;
}

.btn-div {
  display: flex;
  background-color: #2C2875;
  border-top: 1px solid #ffffff50;
  margin-top: 20px;
}

.counter-btn {
  width: 20%;
  height: 35px;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  border: none !important;
  padding: none;
}

.counter-btn:hover {
  font-size: 1.6rem;
}

.green, .red {
  background-color: #2C2875;
}

.count-div {
  margin: 0 20px;
  color: #fff;
}

#reset-btn {
  width: 80%;
  height: 35px;
  font-size: 1.5rem;
  padding: none;
  cursor: pointer;
  background-color: #2C2875;
  border-left: 1px solid #ffffff50;
  border-right: 1px solid #ffffff50;
  border-top: none;
  border-bottom: none;
  color: #f2f2f2;
}

#reset-btn:hover {
  font-size: 1.6rem;
}

.bold {
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  color: #fff;
  text-align: center;
  border-top: 1px solid #ffffff39;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: -1; */
  background-color: #c1b9f80f;
  height: 40px;
  width: 100vw;
}
