* {
  box-sizing: border-box;
}

button, #add-task {
  cursor: pointer;
}

.delete-img {
  max-width: 50%;
}

 #tasks-wrapper, #weather-wrapper, #converter-wrapper {
  width: 50vw;
  border: 1px solid #285379;
  background: linear-gradient(270deg, #95C34C 0%, #1B9B90 50%, #2C2875 100%);
  margin: 200px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}

#weather-wrapper {
  background: linear-gradient(180deg, #95C34C -101.77%, #1B9B90 -0.88%, #2C2875 100%);

}

@media only screen and (max-width: 600px) {
  #tasks-wrapper, #weather-wrapper, #converter-wrapper {
    width: 90%;
  }

  .task-div > li {
    width: 65%;
  }

  .delete-btn {
    width: 40%;

  }

  .delete-img {
    max-width: 50px;
  }
}

h1 {
  text-align: center;
  color: #fff;
}

#task-list {
  width: 95%;
  margin: auto;
}

.input-div > #new-task, #city-name {
  width: 75%;
  height: 35px;
  
}

.input-div > #add-task, #add-city {
  width: 20%;
  height: 35px;
  margin-left: 5px;
}

.input-div {
  width: 95%;
  margin: 0 auto 15px auto;
}

.task-div {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(240, 248, 255, 0.322);
  background-color: #ffffff28;
  padding: none;
}

.task-div > li {
  width: 70%;
  color:aliceblue;
  font-size: 14px;
  margin-left: 15px;
}

.delete-btn {
  width: 20%;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background-color: #ffffff00;
  margin-right: -14px;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn:hover {
  color: red;
}
