#weather-div {
text-align: center;
padding: 10px 0;
}

#weather-div > p {
  color: ffffff;
}

.city-name {
 font-weight: 300;
}

.temperature {
  font-weight: 300;
  font-size: 0.6rem;
}

.temperature > span {
  font-weight: 200;
  font-size: 3rem;
}

.features {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 0.7rem;
  text-align:center;
}

.small-img {
  width: 40px;
  height: 40px;
}

.mid-img {
  width: 20%;
  height: 20%;
}

.grid-item {
  text-align: left;
}

.grid-wrapper2 {
  display: none; 
}

.grid-wrapper1 {
  display: grid; 
  grid-template-areas: 
  'one two four five seven eight'
  'one three four six seven nine'
  'one eleven four ten seven twelve';
}

.item1 {
  grid-area: one;
}

.item2 {
  grid-area: two;
  text-align: left;
  line-height: auto;
}

.item3 {
  grid-area: three;
  text-align: left;
  line-height: 0%;
}

.item4 {
  grid-area: four;
}

.item5 {
  grid-area: five;
  text-align: left;
}

.item6 {
  grid-area: six;
  text-align: left;
}

.item7 {
  grid-area: seven;
}

.item8 {
  grid-area: eight;
  text-align: left;
}

.item9 {
  grid-area: nine;
  text-align: left;
}

.item10 {
  grid-area: ten;
  text-align: left;
}

.item11 {
  grid-area: eleven;
}

.item12 {
  grid-area: twelve;
}

@media only screen and (max-width: 600px) {
  .grid-wrapper1 {
    display: none; 
  }

  .grid-wrapper2 {
    display: grid; 
    grid-template-areas: 
    'grid1 grid2 grid3 grid4'
    'grid1 grid5 grid3 grid6'
    'grid13 grid13 grid13 grid13'
    'grid7 grid8 grid9 grid10'
    'grid7 grid11 grid9 grid12'
  }

  .grid-1 {
    grid-area: grid1;
  }

  .grid-2 {
    grid-area: grid2;
  }

  .grid-3 {
    grid-area: grid3;
  }

  .grid-4 {
    grid-area: grid4;
  }

  .grid-5 {
    grid-area: grid5;
  }

  .grid-6 {
    grid-area: grid6;
  }

  .grid-7 {
    grid-area: grid7;
  }

  .grid-8 {
    grid-area: grid8;
  }

  .grid-9 {
    grid-area: grid9;
  }

  .grid-10 {
    grid-area: grid10;
  }

  .grid-11 {
    grid-area: grid11;
  }

  .grid-12 {
    grid-area: grid12;
  }

  .grid-13 {
    grid-area: grid13;
  }
}